<!DOCTYPE html>
<html>

<head>
  <title>Blog Posts</title>
</head>

<body>
  <h1>Blog Posts</h1>
  {% if posts %}
  <ul>
    {% for post in posts %}
    <li>
      <h2>{{ post.title }}</h2>
      <p>{{ post.content }}</p>
      <p>Created at: {{ post.created_at }}</p>
      {% if post.calculations.all %}
      <ul>
        {% for calculation in post.calculations.all %}
        <li>
          <h3>{{ calculation.name }}</h3>
          <p>Input Arguments: {{ calculation.input_arguments }}</p>
          <p>Output Responses: {{ calculation.output_responses }}</p>
        </li>
        {% endfor %}
      </ul>
      {% else %}
      <p>No calculations for this post.</p>
      {% endif %}
      <a href="{% url 'create_calculation' post.id %}">Create a calculation</a>
    </li>
    {% endfor %}
  </ul>
  {% else %}
  <p>No posts yet.</p>
  {% endif %}
  <a href="{% url 'post_create' %}">Create a new post</a>
</body>

</html>
